/*220928 텍스트 배경색 추가*/
.bg_LTblue { background:#defcff !important; }
.bg_LTorg { background:#ffede7 !important; }
.bg_LTgreen { background:#ecfdf5 !important; }
.bg_LTred { background:#fff4f6 !important; }
.bg_LTyellow { background:#fff3d7 !important; }