<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		
		<key>button_close.png</key>
		<dict>
			<key>x</key>
			<integer>768</integer>
			<key>y</key>
			<integer>231</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>button_close_press.png</key>
		<dict>
			<key>x</key>
			<integer>691</integer>
			<key>y</key>
			<integer>233</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>78</integer>
		</dict>
		
	</dict>
</dict>
</plist>